@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Icon Hover Effect */
#scroll-icon {
  transition: transform 0.3s;
}

#scroll-icon:hover {
  transform: rotate(180deg); /* Flips the arrow */
}

/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}

/* Other existing styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
